{% extends 'base.html' %}

{% block content %}
  <div class="container-md text-center">
    <br/><br/>
    <br/><br/>
    <h1>{% block title %} Devices {% endblock %}</h1>
    <hr/>
    <br/>
    {% if devices|length==0 %}
      <h3>No devices found.</h3>
    {% else %}
      <table class="table text-center">
        <thead>
        <tr>
          <th scope="col">Address</th>
          <th scope="col">Device Type</th>
          <th scope="col">Model</th>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
          <tr>
            <th scope="row">{{ device[2]|string+' '+device[3]|string+', Apt '+device[4]|string+', '+device[5]|string+', '+device[6]|string+' '+device[7]|string }}</th>
            <td>{{ device[17] }}</td>
            <td>{{ device[16] }}</td>
            <td>{{ device[18] }}</td>
            <td>
              <form action="{{ url_for('delete_devices', device_enrollment_id=device[12]) }}" method="POST">
                <button type="submit" class="btn btn-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                       viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <hr/>
    <br/>
    <button class="btn btn-primary"
            type="button"
            data-mdb-collapse-init
            data-mdb-ripple-init
            data-mdb-target="#add_device"
            aria-expanded="false"
            aria-controls="add_device"
    >
      Add a new device
    </button>
    <div class="container-sm collapse" id="add_device">
      <br/>
      <h3>New device:</h3>
      <form method="post">
        <br/>
        <select class="form-select" name="location" id="location" required>
          <option value="" selected>Location</option>
          {% for location in locations %}
            <option value="{{ location[0] }}">
              {{ location[1]|string +' '+ location[2]+', Apt '+location[3]|string+', '+location[4]+', '+
                            location[5]+' '+location[6]|string }}
            </option>
          {% endfor %}
        </select>
        <label class="form-label text-center" for="location">Device Location</label>

        <br/>
        <select class="form-select" name="device_type" id="device_type" required onChange="filterModel()">
          <option value="" selected>Device Type</option>
          {% for type in types %}
            <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
        <label class="form-label text-center" for="device_type">Device Type</label>
        <br/>
        <script type="text/javascript">
          const filterModel = () => {
            const model = document.getElementById('model');
            const device_type = document.getElementById('device_type');
            if (device_type.value === '') {
              model.disabled = true;
              model.value = '';
            } else {
              model.disabled = false;
              let i, L = model.length - 1;
              for (i = L; i >= 0; i--) {
                model.remove(i);
              }
              model.add(new Option("Model", ""), undefined);
              model.value = "";
              {% for type_model in type_models %}
                if ("{{ type_model[0] }}" === device_type.value) {
                  let new_option = new Option("{{ type_model[1] }}", "{{ type_model[1] }}");
                  model.add(new_option, undefined);
                }
              {% endfor %}
            }
          }
        </script>
        <select class="form-select" name="model" id="model" disabled required>
        </select>
        <label class="form-label text-center" for="model">Model</label>

        <br/>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <br/>

{% endblock %}