{% extends 'base.html' %}

{% block content %}
  <div class="container-md">
    <br/><br/>
    <br/><br/>
    <h1 class="text-center">{% block title %} Registered Locations {% endblock %}</h1>
    <hr/>
    <br/>
    {% if locations|length==0 %}
      <h3 class="text-center">No service location found.</h3>
    {% else %}
      <table class="table text-center">
        <thead>
        <tr>
          <th scope="col">Street Address</th>
          <th scope="col">Apartment Number</th>
          <th scope="col">City, State</th>
          <th scope="col">ZIP Code</th>
          <th scope="col"># Bedrooms</th>
          <th scope="col"># Occupants</th>
          <th scope="col">Area (sqft)</th>
          <th scope="col">Date Added</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
          <tr>
            <th scope="row">{{ location[2]|string+' '+location[3] }}</th>
            <td>{{ location[4] }}</td>
            <td>{{ location[5]+', '+location[6] }}</td>
            <td>{{ location[7] }}</td>
            <td>{{ location[8] }}</td>
            <td>{{ location[9] }}</td>
            <td>{{ location[10] }}</td>
            <td>{{ location[11] }}</td>
            <td>
              <form action="{{ url_for("delete_location", location_id=location[0]) }}" method="POST">
                <button type="submit" class="btn btn-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                       viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% endif %}
    <hr/>
    <br/>
    <div class="text-center">
      <button class="btn btn-primary"
              type="button"
              data-mdb-collapse-init
              data-mdb-ripple-init
              data-mdb-target="#add_address"
              aria-expanded="false"
              aria-controls="add_address"
      >
        Add a new location
      </button>
      <div class="container-sm collapse" id="add_address">
        <br/>
        <h3>New address:</h3>
        <form method="post">
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="number" id="form12" class="form-control" name="street_num"/>
            <label class="form-label text-center" for="form12">Street Number</label>
          </div>
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="text" id="form12" class="form-control" name="street_name"/>
            <label class="form-label text-center" for="form12">Street Name</label>
          </div>
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="text" id="form12" class="form-control" name="apt_num"/>
            <label class="form-label text-center" for="form12">Apartment, Suite #</label>
          </div>
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="text" id="form12" class="form-control" name="city"/>
            <label class="form-label text-center" for="form12">City</label>
          </div>
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="text" id="form12" class="form-control" name="state"/>
            <label class="form-label text-center" for="form12">State</label>
          </div>
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="number" id="form12" class="form-control" name="zipcode"/>
            <label class="form-label text-center" for="form12">ZIP Code</label>
          </div>

          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="number" id="form12" class="form-control" name="num_br"/>
            <label class="form-label text-center" for="form12">Number of bedroom</label>
          </div>
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="number" id="form12" class="form-control" name="num_occupants"/>
            <label class="form-label text-center" for="form12">Number of occupants</label>
          </div>
          <br/>
          <div class="form-outline" data-mdb-input-init>
            <input type="number" id="form12" class="form-control" name="sqft"/>
            <label class="form-label text-center" for="form12">Square footage</label>
          </div>
          <br/>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <br/>
{% endblock %}