{% extends 'base.html' %}

{% block content %}
    <div class="container-md">
        <br/><br/><br/><br/><br/><br/><br/>
        <h1>{% block title %} Login {% endblock %}</h1>

        <form method="post">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="uname"/>
                <label class="form-label" for="form12">Username</label>
            </div>
            <br/>
            <div class="form-outline" data-mdb-input-init>
                <input type="password" id="form12" class="form-control" name="password"/>
                <label class="form-label" for="form12">Password</label>
            </div>
            <br/>
            <button class="btn btn-primary" type="submit">Submit</button>


        </form>
        <br/>
        <div class="text-danger">
            {{ msg }}
        </div>
    </div>
    <br/>
{% endblock %}