{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Sign Up for an Account {% endblock %}</h1>

<form method="post">

	<p><label for="fname">First Name</label>
		<input type="text" name="fname"></input>
	</p>

	<p><label for="lname">Last Name</label>
		<input type="text" name="lname"></input>
	</p>

	<p><label for="uname">User Name</label>
		<input type="text" name="uname"></input>
	</p>

	<p><label for="password">Password</label>
		<input type="text" name="password"></input>
	</p>

	<p>
		<button type="submit">Submit</button>
	</p>

	</form>

{% endblock %}