{% extends 'base.html' %}

{% block content %}
    <div class="container-md">
        <br/><br/><br/><br/><br/><br/><br/>
        <h1 class="text-center">{% block title %} Sign Up for an Account {% endblock %}</h1>
        <hr/>
        <br/>
        <form method="post">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="fname"/>
                <label class="form-label" for="form12">First Name</label>
            </div>
            <br/>
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="lname"/>
                <label class="form-label" for="form12">Last Name</label>
            </div>
            <br/>
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="uname"/>
                <label class="form-label" for="form12">Username</label>
            </div>
            <br/>
            <div class="form-outline" data-mdb-input-init>
                <input type="text" id="form12" class="form-control" name="password"/>
                <label class="form-label" for="form12">Password</label>
            </div>
            <br/>
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />  
            <button class="btn btn-primary" type="submit">Submit</button>


        </form>
    </div>
<br/>
{% endblock %}